:host {
  display: flex;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input + label {
  color: #fff6fe;
  background-color: #3e51d3;

  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  margin-right: 10px;
  height: 40px;
}

button + button, button + mat-form-field {
  margin-left: 10px;
}
