.image-container-wrapper {
  grid-area: image;
  height: 100%;
}

.img-cropper {
  box-sizing: border-box;
}

.main-wrapper {
  display: grid;
  grid-template-areas:
    "header header header" 
    "empty image info"
    "empty controls info";
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 70px 60% 30%;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header {
  grid-area: header;
}

.controls-wrapper {
  display: flex;
  grid-area: controls;
  justify-content: center;
}

.info-wrapper {
  grid-area: info;
  align-self: start;
}
