<div class="main-wrapper">
  <mat-toolbar class="header" color="primary">
    <span>My Application</span>
  </mat-toolbar>

  <div class="image-container-wrapper">
    <angular-cropper
      #angularCropper
      [cropperOptions]="config"
      [imageUrl]="currentFile"
      (ready)="onCropperReady()"
      style="display: block; height: 100%;"
    ></angular-cropper>
  </div>

  <div class="controls-wrapper">
    <app-controls
      [isSelectingRegion]="isSelectingRegion"
      (addRegion)="addRegion()"
      (createRegion)="createRegion($event)"
      (cancelSelecting)="cancelSelecting()"
      (fileUploaded)="fileUploaded($event)"
    ></app-controls>
  </div>
  <div class="info-wrapper">
    <app-region-info></app-region-info>
    <app-types></app-types>
  </div>
</div>
